.bannerContainer {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  margin: auto;
}

.emptyBanner {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  margin: 55px 0;
  font-size: 48px;

  /* opacity: 0.3;
      filter: brightness(50%); */

  height: 200px;
}

.collapseContainer {
  display: flex;
  flex-direction: column;
  max-width: 1023px;
  margin: auto;
  gap: 31px 0;
}
.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 47px;

  border-radius: 5px;
  padding: 0 15px;

  color: white;
  background-color: #ff6060;
}

.collapseTxt {
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
  height: auto;
  padding: 20px 130px 9px 68px;
  margin-top: -31px;

  font-size: 24px;
  line-height: 34.22px;

  color: #ff6060;
  background-color: #f7f7f7;
}

.collapseButton {
  background-color: unset;
  border: unset;
}
