.bannerContainer {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  margin: auto;
}

.emptyBanner {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  margin: 55px 0;
  font-size: 48px;

  /* opacity: 0.3;
      filter: brightness(50%); */

  height: 200px;
}
