.carousselContainer {
  position: relative;
  height: 415px;
  max-width: 1240px;
  margin: auto;
  padding-top: 25.37px;
}
.carousselControl {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.next {
  width: 79.2px;
  margin-right: 1.4375em;
  cursor: pointer;
}
.back {
  width: 79.2px;
  margin-left: 1.4375em;
  transform: rotate(0.5turn);
  cursor: pointer;
}
.carousselPicture {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 680px) {
  .next {
    width: 11.67px;
    margin-right: 0.729em;
  }
  .back {
    width: 11.67px;
    margin-left: 0.729em;
  }
  .carousselContainer {
    height: 255px;
  }
}
