@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
}

.error {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 288px;
  font-weight: 700;
  letter-spacing: 0em;
  padding-top: 5%;

  color: #ff6060;
}
.errorQuote {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51.34px;

  color: #ff6060;
}
.linkBackHome {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  padding-top: 9%;

  color: #ff6060;
}

@media screen and (max-width: 680px) {
  .linkBackHome {
    font-size: 9px;
    padding: 133px 0 34px 0;
  }
  .errorQuote {
    font-size: 18px;
    line-height: 25.67px;
  }
  .error {
    padding-top: 195px;
    font-size: 96px;
  }
}
